.start-button-wrapper button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--button-play);
    color: var(--text-button)
}

.increase-decrease-button {
    width: 32px;
    height: 32px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--success);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}