main {
    background-color: var(--bg-main);
}

main article {
    padding: 10px;
}

main article section {
    background-color: var(--bg-secondary);
    padding: 10px;
}

main article section nav ul {
    display: grid;
    gap: 10px; /* Единый отступ между всеми элементами */
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main article section nav ul li {
    width: 100%;
}

h3 {
    color: var(--text);
    background-color: var(--text-bg);
    padding: 10px;
}
