main {
    background-color: var(--bg-main);
}

main article {
    padding: 10px;
}

main article section {
    background-color: var(--bg-secondary);
    padding: 10px;
}

main article section nav ul {
    display: grid;
    gap: 10px;
    /* Фиксированная ширина карточек с автопереносом */
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center; /* Центрирование если есть свободное место */
    padding: 10px;
}

/* Для экранов ≤ 375px */
@media (max-width: 375px) {
    main article section nav ul {
        /* Растягиваем на всю ширину */
        grid-template-columns: 1fr;
    }
    
    main article section nav ul li {
        width: 100% !important; /* Принудительное растягивание */
    }
}

h3 {
    color: var(--text);
    background-color: var(--text-bg);
    padding: 10px;
    overflow-wrap: break-word;  /* Переносит обычные слова */
    word-break: break-word;    /* Разбивает только очень длинные слова */
}
